.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width:  120rem;
    margin: 2rem auto;
    @include flex(column);
    
    &__span {
        width: 85%;
        height: 0.1rem;
        background-color: map-get($color, "text-light");
        margin-bottom: 2rem;
    }

    &__p { 
        font-size: map-get($font-size, "mv-sm")
    }
}