.main {
  width: 100%;
  max-width: 120rem;
  background-color: map-get($color, "background");
  min-height: calc(100vh - 5.5rem);
  padding: 5rem 2rem;
  padding-bottom: 10rem;

  @include screen($screen-md) {
    padding: 8rem 4rem;
    min-height: calc(100vh - 11rem);
  }
}
