//Colors
$color: (
    'primary': #727E7D,
    'primary-dark': #373D3D, 
    'secondary': #DAD9CA,
    'background': rgba(39, 39, 39, 0.94),
    'contrast': #C9A18D,
    'text-light': #DAD9CA,
    'text-dark':  #000,
    'icon-dark': #000,
    'icon-light': #DAD9CA,
    'shadow-light': #fff,
    'border-light': #9E9E9E,
);

// Fonts
$primary-font-family: 'Ubuntu';
$font-size:  (
    'lg': 3rem,
    'md': 2.4rem,
    'sm': 2.1rem,
    'mv-lg': 2.6rem,
    'mv-md': 2.3rem,
    'mv-sm': 1.7rem,
    'mv-xs': 1.5rem
);

// Breakpoints
$screen-xs: 480px;
$screen-md: 960px;
$screen-lg:  1024px;
